.fb-iframe-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

.fb-iframe-container iframe {
    width: 100%;      /* El iframe se ajustará al 100% del contenedor */
    height: 100%;     /* Altura ajustable al contenedor */
    border: none;

}
.iframe {
    border: none;
    margin-left: 150px;
    margin-right: 100px;
    
}

.featured-title {
    font-size: 2.5rem;
    color: #0d0d0e;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    position: relative;
}

/* Estilos para el botón de WhatsApp flotante */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.whatsapp-button:hover {
  background-color: #1ebe5d;
}

.whatsapp-button img {
  width: 35px;
  height: 35px;
}

/* ✅ Sección general con mejor fondo */
.contact-section {
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    padding: 40px 20px;
}