/* 📲 Botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.whatsapp-button:hover {
  background: #1ebe5d;
}

.whatsapp-button img {
  width: 35px;
  height: 35px;
}


.carousel-item img {
  height: 300px;
  object-fit: cover;
}

.card {
  border: none;
  border-radius: 10px;
}

.logo {
  max-width: 200px;
}