<section class="main-banner" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
  <div class="overlay">
  <h1>Bienvenidos a la Cámara de Industriales y Producción de Santo Domingo</h1>
  </div>
</section>


<section class="quienes-somos">
  <div class="container">
    <h1>Quiénes Somos</h1>
    
    <div class="historia">
      <h2>Nuestra Historia</h2>
      <p>{{ quienesSomos.historia }}</p>
    </div>

    <div class="mision-vision">
      <div class="mision">
        <h2>Misión</h2>
        <p>{{ quienesSomos.mision }}</p>
      </div>
      <div class="vision">
        <h2>Visión</h2>
        <p>{{ quienesSomos.vision }}</p>
      </div>
    </div>

    <div class="valores">
      <h2>Valores</h2>
      <ul>
        <li *ngFor="let valor of quienesSomos.valores">{{ valor }}</li>
      </ul>
    </div>

    <div class="galeria">
      <h2>Equipo Directivo</h2>
      <div class="contenedor-miembros">
        <div *ngFor="let miembro of quienesSomos.equipoDirectivo" class="tarjeta">
          <img [src]="miembro.foto" [alt]="miembro.cargo" width="200" height="200">
          <h3>{{ miembro.cargo }}</h3>
          <ul>
            <li *ngFor="let funcion of miembro.funciones">{{ funcion }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
