<section class="event-banner"  *ngIf="showTef || showTbc">
  <h1 class="titulo-general">{{ 'inicio.proximosEventos' | transloco }}</h1>
  <div class="banner-content grid-layout">
    <!-- Evento TEF2025 -->
    <div class="event-column" *ngIf="showTef">
      <h2 class="titulo">
        {{ 'inicio.eventoTef.titulo' | transloco }}
        <a [routerLink]="['/tef']">{{ 'inicio.eventoTef.link' | transloco }}</a>
      </h2>
      <p><em>{{ 'inicio.eventoTef.descripcion' | transloco }}</em></p>

      <!-- Contenedor del contador -->
      <div class="countdown-container">
        <!-- TEF 2025 -->
        <div class="countdown-item">
          <div class="countdown-box-container">
            <div class="countdown-box" *ngFor="let digit of getDigits(tefMonths)">
              {{ digit }}
            </div>
          </div>
          <span class="countdown-label">{{ 'contador.meses' | transloco }}</span>
        </div>

        <strong style=" font-size: 1.6rem;">:</strong>

        <div class="countdown-item">
          <div class="countdown-box-container">
            <div class="countdown-box" *ngFor="let digit of getDigits(tefDays)">
              {{ digit }}
            </div>
          </div>
          <span class="countdown-label">{{ 'contador.dias' | transloco }}</span>
        </div>

        <strong style="font-size: 1.6rem;">:</strong>

        <div class="countdown-item">
          <div class="countdown-box-container">
            <div class="countdown-box" *ngFor="let digit of getDigits(tefHours)">
              {{ digit }}
            </div>
          </div>
          <span class="countdown-label">{{ 'contador.horas' | transloco }}</span>
        </div>
      </div>
      <br>
      <button (click)="openForm('https://docs.google.com/forms/d/1G87IGCYOGStTYYIdzijZiaXJxoAXpd4iMXhv9XqCMsI/edit')">
        {{ 'inicio.eventoTef.inscribete' | transloco }}
      </button>
    </div>

    <!-- Evento TBC2025 -->
    <div class="event-column" *ngIf="showTbc">
      <h2 class="titulo">
        {{ 'inicio.eventoTbc.titulo' | transloco }}
        <a [routerLink]="['/tbc']">{{ 'inicio.eventoTbc.link' | transloco }}</a>
      </h2>
      <p><em>{{ 'inicio.eventoTbc.descripcion' | transloco }}</em></p>

      <!-- Contenedor del contador para TBC2025 -->
      <div class="countdown-container">
        <div class="countdown-item">
          <div class="countdown-box-container">
            <div class="countdown-box" *ngFor="let digit of getDigits(tbcMonths)">
              {{ digit }}
            </div>
          </div>
          <span class="countdown-label">{{ 'contador.meses' | transloco }}</span>
        </div>

        <strong style="font-size: 1.6rem;">:</strong>

        <div class="countdown-item">
          <div class="countdown-box-container">
            <div class="countdown-box" *ngFor="let digit of getDigits(tbcDays)">
              {{ digit }}
            </div>
          </div>
          <span class="countdown-label">{{ 'contador.dias' | transloco }}</span>
        </div>

        <strong style="font-size: 1.6rem;">:</strong>

        <div class="countdown-item">
          <div class="countdown-box-container">
            <div class="countdown-box" *ngFor="let digit of getDigits(tbcHours)">
              {{ digit }}
            </div>
          </div>
          <span class="countdown-label">{{ 'contador.horas' | transloco }}</span>
        </div>
      </div>

      <br>

      <button (click)="openForm('https://docs.google.com/forms/d/1G87IGCYOGStTYYIdzijZiaXJxoAXpd4iMXhv9XqCMsI/edit')">
        {{ 'inicio.eventoTbc.inscribete' | transloco }}
      </button>
    </div>

  </div>
</section>
<section class="main-banner"
  [ngStyle]="{'background-image': 'url(' + backgroundImage + ')', 'background-size': 'cover', 'background-position': 'top'}">
  <div class="overlay">
    <h1>{{ 'mainBanner.bienvenida' | transloco }}</h1>
  </div>
</section>


<section class="quienes-somos">

  <div class="container">
    <h1 class="titulo-seccion">{{ 'quienesSomos.titulo' | transloco }}</h1>

    <div class="info-grid" style="margin-left: 60px;">
      <div class="info-card">
        <h2>{{ 'quienesSomos.historiaTitulo' | transloco }}</h2>
        <p class="contenido-card">{{ 'quienesSomos.historia' | transloco }}</p>
      </div>
      <div class="info-card">
        <h2>{{ 'quienesSomos.misionTitulo' | transloco }}</h2>
        <p class="contenido-card">{{ 'quienesSomos.mision' | transloco }}</p>
      </div>
      <div class="info-card">
        <h2>{{ 'quienesSomos.visionTitulo' | transloco }}</h2>
        <p>{{ 'quienesSomos.vision' | transloco }}</p>
      </div>
    </div>

    <div class="galeria">
      <hr>
      <h1 class="titulo-seccion">{{ 'quienesSomos.conoceEquipo' | transloco }}</h1>
      <p class="descripcion-seccion">{{ 'quienesSomos.descripcionEquipo' | transloco }}</p>

      <!-- Tarjeta destacada: Presidenta -->
      <div class="featured-event">
        <div class="row">
          <div class="col-md-4">
            <div>
              <img src="assets/PresidentaCIP.jpg" alt="{{ 'quienesSomos.features.presidenta.alt' | transloco }}">
            </div>
          </div>
          <div class="col-md-8">
            <h2 class="featured-title2 text-center">
              {{ 'quienesSomos.features.presidenta.nombre' | transloco }}
            </h2>
            <h3 class="text-center">
              <strong>{{ 'quienesSomos.features.presidenta.cargo' | transloco }}</strong>
            </h3>
            <p>
              <em>{{ 'quienesSomos.features.presidenta.cita' | transloco }}</em>
            </p>
            <p><strong>{{ 'quienesSomos.features.presidenta.detalle1' | transloco }}</strong></p>
            <p>
              <strong>{{ 'quienesSomos.features.presidenta.correoTitulo' | transloco }}</strong>
              {{ 'quienesSomos.features.presidenta.correo' | transloco }}
            </p>

            <!-- Botón para mostrar información adicional -->
            <button class="btn btn-primary" (click)="toggleInfo()">
              {{ 'quienesSomos.features.presidenta.ver_mas' | transloco }}
            </button>

            <!-- Contenido oculto -->
            <div *ngIf="showInfo" style="margin-top: 10px;">
              <p><strong>{{ 'quienesSomos.features.presidenta.ubicacion_titulo' | transloco }}</strong> {{
                'quienesSomos.features.presidenta.ubicacion' | transloco }}</p>
              <p><strong>{{ 'quienesSomos.features.presidenta.titulo_titulos' | transloco }}</strong></p>
              <ul>
                <li *ngFor="let titulo of titulos">{{ titulo }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Tarjeta destacada: Socio Fundador -->
      <div class="featured-event">
        <div class="row">
          <div class="col-md-4">
            <div>
              <img src="assets/VicePres.jpg" alt="{{ 'quienesSomos.features.fundador.alt' | transloco }}">
            </div>
          </div>
          <div class="col-md-8">
            <h2 class="featured-title2" style="text-align: center;">
              {{ 'quienesSomos.features.fundador.nombre' | transloco }}
            </h2>
            <h3 style="text-align: center;">
              <strong>{{ 'quienesSomos.features.fundador.cargo' | transloco }}</strong>
            </h3>
            <p>
              <em>{{ 'quienesSomos.features.fundador.cita' | transloco }}</em>
            </p>

            <p><strong>{{ 'quienesSomos.features.fundador.detalle2' | transloco }}</strong></p>
            <p>
              <strong>{{ 'quienesSomos.features.fundador.correoTitulo' | transloco }}</strong>
              {{ 'quienesSomos.features.fundador.correo' | transloco }}
            </p>
            <!-- Botón para mostrar información adicional -->
            <button class="btn btn-primary" (click)="toggleVicepresidenteInfo()">
              {{ 'quienesSomos.features.fundador.ver_mas' | transloco }}

            </button>


            <!-- Contenido oculto -->
            <div *ngIf="showVicepresidenteInfo" style="margin-top: 10px;">
              <p><strong>{{ 'quienesSomos.features.fundador.ubicacion_titulo' | transloco }}</strong> {{
                'quienesSomos.features.fundador.ubicacion' | transloco }}</p>
              <p><strong>{{ 'quienesSomos.features.fundador.titulo_titulos' | transloco }}</strong></p>
              <ul>
                <li>
                  <p>{{ 'quienesSomos.features.fundador.titulos1' | transloco }}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Botón para mostrar/ocultar el resto del equipo -->
      <h2 style="margin-top: 30px; margin-bottom: 20px;" class="featured-title">
        {{ 'quienesSomos.equipo' | transloco }}
        <button class="btn-toggle" (click)="mostrarEquipo = !mostrarEquipo">
          <i class="fas" [ngClass]="{'fa-plus': !mostrarEquipo, 'fa-minus': mostrarEquipo}"></i>
        </button>
      </h2>

      <div class="contenedor-miembros" *ngIf="mostrarEquipo">
        <p class="descripcion-equipo">{{ 'quienesSomos.descripcionEquipo2' | transloco }}</p>
        <div *ngFor="let miembro of quienesSomos.equipoDirectivo" class="tarjeta-equipo">
          <div class="tarjeta-imagen">
            <img [src]="miembro.imagen">
          </div>
          <div class="tarjeta-info">
            <h3>{{ miembro.nombre }}</h3>
            <h4>{{ ('miembros.cargo.' + miembro.cargo) | transloco }}</h4>
            <p><strong>Correo:</strong> <a [href]="'mailto:' + miembro.correo">{{ miembro.correo }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 📲 Botón flotante de WhatsApp -->
<div class="whatsapp-button" (click)="openWhatsApp()">
  <img src="assets/icono.png" alt="WhatsApp">
</div>

<!-- 🔝 Botón flotante para volver al inicio -->
<div class="scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
  ⇧
</div>