<section class="networking-section">

  <div class="container">

    <!-- Tarjeta destacada -->
    <div class="featured-event container">
      <div class="row align-items-center">
        <!-- 📌 Sección de Texto -->
        <div class="col-12 col-lg-4 text-center text-lg-start mb-4 mb-lg-0 ">
          <h2 style="text-align: center;" class="featured-title">{{ 'networking.titulo' | transloco }}</h2>
          <hr class="custom-divider">
          <p class="text-muted">
            {{ 'networking.descripcion' | transloco }}
          </p>
        </div>

        <!-- 📌 Sección de Eventos -->
        <div class="col-12 col-lg-8 d-flex flex-column align-items-center">
          <h2 class="text-center featured-title">{{ 'networking.eventosPrincipales' | transloco }}</h2>
          <br>
          <div class="row g-4">
            <div class="col-12 col-sm-6 d-flex justify-content-center">
              <div class="card event-card">
                <div class="image-container">
                  <img src="assets/logo Tsachila Economic.jpg" class="card-img-top" alt="Logo TEF">
                </div>
                <div class="card-body text-center">
                  <a [routerLink]="['/tef']" class="btn btn-primary">Tsáchila Economic Forum (TEF)</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 d-flex justify-content-center ">
              <div class="card event-card">
                <div class="image-container">
                  <img src="assets/LOGO_TSÁCHILA Business.jpg" class="card-img-top" alt="Logo TBC">
                </div>
                <div class="card-body text-center">
                  <a [routerLink]="['/tbc']" class="btn btn-primary">Tsáchila Business Convention (TBC)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjetas de eventos -->
    <div class="row mt-4">
      <h2 class="mb-4" style="text-align: center;">{{ 'networking.eventos' | transloco }}</h2>
      <div class="col-md-4 d-flex">
        <div class="event-card flex-grow-1">
          <div class="image-container">
            <img src="assets/evento1.jpg" alt="Encuentros Empresariales" class="event-image">
          </div>
          <h3>📚 {{ 'networking.seminariosCapacitaciones' | transloco }}</h3>
          <p>
            {{ 'networking.descripcionSeminarios' | transloco }}
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex mt-2">
        <div class="event-card flex-grow-1">
          <div class="image-container">
            <img src="assets/evento2.jpg" alt="Foros y Congresos" class="event-image">
          </div>
          <h3>🤝 {{ 'networking.eventosCooperativos' | transloco }}</h3>
          <p>
            {{ 'networking.descripcionEventosCooperativos' | transloco }}
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex mt-2">
        <div class="event-card flex-grow-1">
          <div class="image-container">
            <img src="assets/evento3.jpg" alt="Visitas Industriales" class="event-image">
          </div>
          <h3>🔗 {{ 'networking.networkingEnlaces' | transloco }}</h3>
          <p>
            {{ 'networking.descripcionNetworking' | transloco }}
          </p>
        </div>
      </div>
    </div>
    <!-- Sección de contenido tipo blog -->
    <div class="row mt-5">
      <div class="col-md-9">
        <div class="buscador text-center my-4">
          <div class="directory-header">
            <h2 class="mb-3">🌐 {{ 'networking.proximosEventos' | transloco }}</h2>
            <input [(ngModel)]="searchText" type="text" class="form-control search-input">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 col-xl-4 mt-4" *ngFor="let evento of filteredEventos">
            <div class="card event-card1">
              <div class="image-container">
                <img [src]="evento.imagen" class="card-img-top" alt="{{evento.nombre}}">
              </div>
              <div class="card-body">
                <h5 class="card-title ">{{evento.nombre}}</h5>
                <p class="event-location"><i class="fas fa-map-marker-alt"></i> {{evento.lugar}}</p>
                <p class="event-date"><i class="fas fa-calendar-alt"></i> {{evento.fecha}}</p>
                <button class="btn btn-primary mb-2"
                  onclick="window.open('https://docs.google.com/forms/d/1G87IGCYOGStTYYIdzijZiaXJxoAXpd4iMXhv9XqCMsI/edit', '_blank')">
                  {{ 'networking.inscribirse' | transloco }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <article class="blog-post">
          <h3>{{ 'networking.oportunidadesNetworking' | transloco }}</h3>
          <p>{{ 'networking.descripcionBlog' | transloco }}</p>
          <blockquote class="blockquote">
            <p>"{{ 'networking.exitoEnNegocios' | transloco }}"</p>
          </blockquote>
          <p>"{{ 'networking.Slogan' | transloco }}"</p>
        </article>
      </div>
    </div>

  </div>

  <!-- 📲 Botón flotante de WhatsApp -->
  <div class="whatsapp-button" (click)="openWhatsApp()">
    <img src="assets/icono.png" alt="WhatsApp">
  </div>
</section>