
  
  <section class="content">
    <h2>Directorio de Empresas</h2>
    <input type="text" class="search-bar" placeholder="Buscar por sector industrial..." [(ngModel)]="searchQuery" (input)="filterCompanies()">
  
    <div class="companies-container">
      <div class="card" *ngFor="let company of filteredCompanies">
        <img [src]="company.logo" alt="Logo de {{ company.name }}" class="company-logo">
        <h4>{{ company.name }}</h4>
        <p>{{ company.description }}</p>
        <button class="btn" (click)="goToCompanyWebsite(company.website)">Visitar</button>
      </div>
    </div>  
  </section>
  
 <!-- 📲 Botón flotante de WhatsApp -->
<div class="whatsapp-button" (click)="openWhatsApp()">
  <img src="assets/icono.png" alt="WhatsApp">
</div>