<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container">
    <!-- Logo a la izquierda -->
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/logo.png" alt="Logo" width="200" height="160">
    </a>

    <!-- Botón de menú responsive -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces de navegación -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{ 'navbar.inicio' | transloco }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/afiliacion']" routerLinkActive="active">
            {{ 'navbar.nuestrosSocios' | transloco }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/networking-y-eventos']" routerLinkActive="active">
            {{ 'navbar.networkingEventos' | transloco }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/servicios']" routerLinkActive="active">
            {{ 'navbar.servicios' | transloco }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/noticiasfacebook']" routerLinkActive="active">
            {{ 'navbar.noticias' | transloco }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bolsa-empleo']" routerLinkActive="active">
            {{ 'navbar.bolsaEmpleo' | transloco }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="active">
            {{ 'navbar.contacto' | transloco }}
          </a>
        </li>
      </ul>

      <!-- Selector de idioma -->
      <div class="dropdown language-selector">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ selectedLanguage }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <button class="dropdown-item" (click)="changeLang(languages.ES)">🇪🇸 Español</button>
          </li>
          <li>
            <button class="dropdown-item" (click)="changeLang(languages.EN)">🇺🇸 English</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>