<nav class="navbar">
  <div class="navbar-logo">
    <img src="camaraComercio/src/assets/LOGO.png" alt="Logo de la Cámara" class="logo">
  </div>
  <button class="navbar-toggle" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-menu">
    <ul>
      <li><a href="/inicio" class="nav-item">Inicio</a></li>
      <li><a href="/networking-eventos" class="nav-item">Networking y Eventos</a></li>
      <li><a href="/servicios" class="nav-item">Servicios</a></li>
      <li><a href="/bolsa-empleo" class="nav-item">Bolsa de Empleo</a></li>
    </ul>
  </div>
</nav>
