<div class="container mt-4">
  <h2 class="text-center">Eventos Emblemáticos</h2>
<br>
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <img src="assets/logo Tsachila Economic.jpg" class="card-img-top" alt="Logo TEF">
        <div class="card-body">
          <h5 class="card-title">Tsáchila Economic Forum (TEF)</h5>
          <p class="card-text">Nuestro gremio, en afán de promover las tendencias mundiales emergentes dentro de la cadena de valor del sector industrial, ha organizado el ECONOMIC TSÁCHILA FORUM IV Edition.</p>
          <a [routerLink]="['/tef']" class="btn btn-primary">📊 Más Información</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm">
        <img src="assets/LOGO_TSÁCHILA Business.jpg" class="card-img-top" alt="Logo TBC">
        <div class="card-body">
          <h5 class="card-title">Tsáchila Business Convention (TBC)</h5>
          <p class="card-text">Evento anual Tsáchila Business Convention, un evento de la Cámara de Industrias y Producción de Santo Domingo en conjunto con el Gobierno Provincial de Santo Domingo de los Tsáchilas.</p>
          <a [routerLink]="['/tbc']" class="btn btn-primary">🚀 Más Información</a>
        </div>
      </div>
    </div>
  </div>

<br>
  <div class="buscador text-center my-4">
    <div class="directory-header">
    <h2 class="featured-title">Networking y Eventos</h2> <input [(ngModel)]="searchText" type="text" class="form-control w-50 mx-auto" placeholder="🔍 Buscar evento...">
  </div></div>

  <div class="row">
    <div class="col-md-4 col-lg-3 mt-4" *ngFor="let evento of filteredEventos">
      <div class="card shadow-sm">
        <img [src]="evento.imagen" class="card-img-top" alt="{{evento.nombre}}">
        <div class="card-body">
          <h5 class="card-title">{{evento.nombre}}</h5>
          <p><i class="fas fa-map-marker-alt"></i> {{evento.lugar}}</p>
          <p><i class="fas fa-calendar-alt"></i> {{evento.fecha}}</p>
          <button class="btn btn-info">Más Información</button>
        </div>
      </div>
    </div>
  </div>
</div>
