<div class="section">
  <h2 class="section-title">Nuestros Servicios</h2>

  <ngx-slick-carousel class="carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let servicio of servicios" class="service-card">
      <mat-card>
        <img mat-card-image [src]="servicio.imagen" alt="{{ servicio.titulo }}">
        <mat-card-title>{{ servicio.titulo }}</mat-card-title>
        <mat-card-content>{{ servicio.descripcion }}</mat-card-content>
      </mat-card>
    </div>
  </ngx-slick-carousel>
</div>
