body {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.language-selector {
    top: 130px;        /* Ajusta la distancia desde la parte superior */
    background: rgba(0, 0, 0, 0.436); /* Fondo semi-transparente */
    justify-content: flex-end;    /* Alinea los botones a la derecha */
    padding: 10px 10px;
    display: flex;
    gap: 10px;
    z-index: 1000;    /* Asegura que esté por encima de otros elementos */
}

.language-selector button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.language-selector button:hover {
    background-color: #ddd;
}
