<!-- Sección principal -->
<!-- Carrusel -->
<div id="benefitsCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="assets/Forum1.png" class="d-block w-100" alt="{{ 'tef.carousel.asesorias' | transloco }}">
      <div class="overlay text-center">
        <h1>{{ 'tef.carousel.asesorias' | transloco }}</h1>
        <p>{{ 'tef.carousel.asesoriasDescripcion' | transloco }}</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/Forum3.png" class="d-block w-100" alt="{{ 'tef.carousel.visibilidad' | transloco }}">
      <div class="overlay text-center">
        <h1>{{ 'tef.carousel.visibilidad' | transloco }}</h1>
        <p>{{ 'tef.carousel.visibilidadDescripcion' | transloco }}</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/Forum2.png" class="d-block w-100" alt="{{ 'tef.carousel.eventos' | transloco }}">
      <div class="overlay text-center">
        <h1>{{ 'tef.carousel.eventos' | transloco }}</h1>
        <p>{{ 'tef.carousel.eventosDescripcion' | transloco }}</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/Forum3.png" class="d-block w-100" alt="{{ 'tef.carousel.eventos2' | transloco }}">
      <div class="overlay text-center">
        <h1>{{ 'tef.carousel.eventos2' | transloco }}</h1>
        <p>{{ 'tef.carousel.eventos2Descripcion' | transloco }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#benefitsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#benefitsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>

<div class="text-center mt-3 ">
  <h1>{{ 'tef.titulo' | transloco }}</h1>
  <p style="color: aliceblue;">{{ 'tef.descripcion' | transloco }}</p>
</div>

<section class="tef-content mb-1">
  <div class="container">
    <div class="tef-layout">
      <!-- 📌 Sección Izquierda: Descripción -->
      <div class="tef-text">
        <div class="tef-text-content">
          <h2>{{ 'tef.queEs' | transloco }}</h2>
          <hr>
          <p>
            <img src="assets/logo Tsachila Economic.jpg" class="float tef" alt="Logo TEF">
            {{ 'tef.descripcionTef' | transloco }}
          </p>

        </div>
      </div>

      <!-- 📌 Sección Derecha: Tarjetas -->
      <div class="tef-grid">
        <div class="tef-card">
          <h3>{{ 'tef.foroEconómico' | transloco }}</h3>
          <p>{{ 'tef.foroEconómicoDescripcion' | transloco }}</p>
        </div>

        <div class="tef-card">
          <h3>{{ 'tef.casosDeExito' | transloco }}</h3>
          <p>{{ 'tef.casosDeExitoDescripcion' | transloco }}</p>
        </div>

        <div class="tef-card">
          <h3>{{ 'tef.networking' | transloco }}</h3>
          <p>{{ 'tef.networkingDescripcion' | transloco }}</p>
        </div>
      </div>
    </div>
    <!-- 📌 Sección de Video -->
    <div class="tef-video-container text-center mt-4">
      <iframe class="tef-video" width="800" height="450" src="https://www.youtube.com/embed/YXF-NUdzLrc"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>

    <!-- 📌 Mensaje motivador -->
    <p class="tef-highlight tef-card mt-3">
      🌟 {{'tef.info' | transloco}} 📄✨ <br>
      <!-- 📌 Botón para descargar el PDF -->
      <button class="tef-button mt-3" (click)="descargarPDF()">
        📥 {{ 'tef.descargarInfo' | transloco }}
      </button>
    </p>
  </div>
</section>


<!-- 📲 Botón flotante de WhatsApp -->
<div class="whatsapp-button" (click)="openWhatsApp()">
  <img src="assets/icono.png" alt="WhatsApp">
</div>